.list{
  background-color: mediumaquamarine;
  margin: 0 auto;
  width: 500px;
  height: 400px;
  padding: 50px;
  margin-top: 200px;
  
  
  
 
}

.list ul{
  
  list-style-type: none;
  font-weight: bolder;
  list-style-position: inside;
 line-height: 40px;
 list-style-image: url(/mark_10099892.png);
 font-size: 30px;
}